@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@500&family=Antonio:wght@600&family=Catamaran&family=Convergence&family=Heebo:wght@700;900&family=Inter:wght@100..900&family=Noto+Sans+KR&family=Open+Sans:wght@800&family=Outfit:wght@400;700&family=PT+Sans:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@500&family=Antonio:wght@600&family=Catamaran&family=Convergence&family=Heebo:wght@700;900&family=Inter:wght@100..900&family=Noto+Sans+KR&family=Open+Sans:wght@800&family=Outfit:wght@400;700&family=PT+Sans:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    list-style: none; 
}
body{
    background-color: #FDF8F7;
    width: 100%;
}
header{
    display: flex;
    justify-content: space-between;
   
    font-family: "Poppins", sans-serif;
    
}
header{
    background-color: #FDF8F7;
    padding-inline: 8%;
    position: fixed;
    color: #15295F;
    z-index: 1000;
    width: 100%;
    padding-block-start: 32px;
    padding-block-end: 8px;
}
header .peak{
    display: flex;
    align-items: center;
}
header .navlist ul{
    display: flex;
}
header .navlist ul li{
    font-size: 16px;
    padding-right: 44px;
   
}

p .blg1{
    position: absolute;
}
p  span {
    margin-left: 10px;
}
header .navlist ul  .us{
    padding: 15px 0px;
    width: 138px;
    border-radius: 40px;
    position: fixed;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    background-color: #FD6D09;
    border: 1px solid #FD6D09;
    margin-top: -15px;
}
header .fa-bars{
    display: none;
}
.Fox {
    display: flex;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
    margin-inline: 15%;
    padding-block: 20px;
    border-radius: 85px;
    background-color: #ffffff;
    margin-bottom: -45px;
    position: relative;
    margin-top: -12px;
    box-shadow: 20px 20px 20px 20px #EDEFF2;
}
.Fox .Fox1 {
    background-color: #FD6E0A;
    border-radius: 50%;
    padding: 10px;
}
.Fox .jen{
    display: flex;
}
.Fox .jen1 h4 {
    color: #15295F;
    font-size: 18px;
}
.Fox .jen1 p {
    color: #FD6D09;
    font-size: 15px;
}
.Fox .jen1 {
    padding-inline-start: 20px;
}
 .Fox1 img {
    border-radius: 75%;
    display: flex;
}
.digital{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 8%;
    padding-top: 10%;
    background-color: #FDF8F7;
    font-family: "Poppins", sans-serif;
}
.digital .digital1{
    padding-block: 3%;
}
.digital img{
    width: 50%;
}
.digital h3{
    color: #FD6E0A;
    font-weight: 600; 
}
.digital h4 {
    color: #384573;
    font-size: 16px;
}
.digital .digital1 h1{
    font-size: 40px;
    color: #15295F;
    line-height: 35px;
    margin-bottom: 30px;
}
.digital .digital1 p {
    margin-block: 20px;
    color: #908D9C;
    line-height: 25px;
    font-size: 14px;
    width: 83%;
}
.digital .btn {
    display: flex;
    padding-block: 20px;
    
}
.digital .btn .us {
    padding: 12px 0px;
    width: 25%;
    border-radius: 50px;
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
    background-color: #FD6E0A;
    border: 1px solid #FD6E0A;
}
.digital .btn .vi {
    padding: 12px 0px;
    width: 17%;
    border-radius: 40px;
    font-size: 14px;
    color: #FD6E0A;
    background-color: #ffffff;
    border: 1px solid #FD6E0A;
    margin-inline-start: 20px;
}

.market{
   min-height: 100vh;
   padding: 30px 8%;
   background-color: #ffffff;
   padding-bottom: 5%;
   color: #15295F;
   font-family: "Poppins", sans-serif;
}
.market .dgl {
    width: 23vw;
}
.market .dgl h2{
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    margin-bottom: 8%;
}
.market .dgl h5{
    font-size: 22px;
    font-weight: 500;
    color: #FD6D09;
    padding-bottom: 8px;
    font-family: "Poppins", sans-serif;
}


.market .ads{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(224px,1fr));
    grid-gap: 32px;
    
}
.market .ads .item1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.market .ads .item1{
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 18px;
    padding: 22px;
    margin-inline-start: 25px;
    box-shadow: 2px 0px 6px 4px #EDEFF2;
    width: 91%;
}
.market .ads .item1 .design1 img {
    width: 50px;
}
.market .ads .item1 .design2 img {
    width: 50px;
}
.market .ads .item1 .design3 img {
    width: 50px;
}
.market .ads .item1 .design1{
    background-color: #9C19C9;
    border-radius: 50%;
    padding: 12px;
    display: flex;
    width: 37%;
    margin-top: 25px;
}
.market .ads .item1 .design2{
    background-color: #FFAF00;
    border-radius: 50%;
    padding: 12px;
    display: flex;
    width: 37%;
    margin-top: 25px;
}
.market .ads .item1 .design3{
    background-color: #FF4E6E;
    border-radius: 50%;
    padding: 12px;
    display: flex;
    width: 37%;
    margin-top: 25px;
}

.market .ads .item1 p{
    color: #8D919D;
    font-size: 14px;
    line-height: 25px;
    padding-bottom: 12px;
}
.market .ads .item1 h3{
    padding-block: 20px;
    font-size: 18px;
}
.client{
    display: flex;
}

.client{
    min-height: 70vh;
    padding-inline-start: 8%;
    padding-inline-end: 8%;
   
    margin-top: -20%;
    padding-top: 40px;
    background-color: #FDF8F7;
    color: #15295F;
    font-family: "Work Sans", sans-serif;
}
.client .some{
    font-family: "Work Sans", sans-serif;
   
    
    margin-inline-end: 14%;
    margin-block: 20px;
}
.client .some h1 {
    line-height: 50px;
    font-size: 36px;
    font-weight: 700;
    color: #15295F;
}
.client .some p{
    font-weight: 300;
    padding-block: 10px;
    line-height: 30px;
}

.client .some .check1{
    display: flex;
    align-items: baseline;
}
.client .some .check1 h4{
    padding-left: 10px;
    font-size: 17px;
    font-weight: 600;
}
.client .some .check1 .fa-check{
    color: #FD6E0A;
    font-weight: 900;
    font-size: 20px;
}
.client .icon{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(234px,1fr));
    grid-gap: 32px;
    margin-top: 5%;
}
.client .icon .goo{
    background-color: #864FFB;
    width: 60%;
    padding: 33px 0px;
    text-align: center;
    border-radius: 40px;
    font-weight: 600;
    font-size: 18px;

}
.client .icon .icon1{
    display: flex;
    background-color: #ffffff;
    width: 60%;
    padding: 25px 0px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    
    font-size: 18px;
}
.client .icon .icon1 h1{
    padding-top: 20px;
    font-size: 40px;
    color: #04081D;
}
.client .icon .icon1 p{
    padding-inline-end: 5px;
    font-size: 20px;
    text-align: center;
    padding-block: 10px;
    font-weight: 400;
    padding-bottom: 30px;
}

.client .icon .icon2{
    background-color: #FD6E0A;
    border-radius: 50%;
    padding: 12px;
    margin-top: -70px;
}

.client .fa-brands  {
    
    font-size: 24px;
}

.client .learn3{
    padding: 14px 0px;
    width: 60%;
    text-align: center;
   
    border-radius: 50px;
    font-size: 18px;
    color: #ffffff;
    background-color: #FD6E0A;
    border: 1px solid #FD6E0A;
    margin-block: 40px;
}

.Lead .lead1 .lead11{
    display: flex;
    justify-content: space-between;
   
    
}
.Lead {
    padding-inline-start: 8%;
    padding-inline-end: 8%;
    padding-bottom: 10%;
    padding-top: 11%;
    background-color: #ffffff;
}
.Lead .tech {
    display: flex;
    font-family: "Poppins", sans-serif;
    color: rgb(21, 41, 95);
    padding-block: 25px;
    font-size: 24px;
}
.Lead .tech h1{
    width: 38%;
}
.Lead .tech h5{
    font-weight: 300;
    width: 61%;
}
.Lead .lead1 h1{
    margin-bottom: 8%;
    margin-inline-start: 35px;
    font-size: 36px;
}


.Lead .lead2{
    display: flex;
    align-items: center;
    flex-direction: column;
   
    padding-inline: 40px;
}
.Lead .lead2{
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 20px 20px 20px 20px #EDEFF2;
    margin-inline: 1%;
    padding-block: 45px;
}
.Lead .lead5{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    margin-inline-end: 1%;
    padding-block: 31px;
}
.Lead .lead5{
    padding-inline: 40px;
    background-color: #FD6E0A;
    border-radius: 18px;
   
   
}

.Lead .lead2 h2{
    padding-block: 10px;
}
.Lead .lead2 h6{
    font-family: "Work Sans", sans-serif;
    line-height: 27px;
    font-size: 16px;
    color: #6A727D;
    padding-bottom: 10px;
    
    font-weight: 300;
}
.Lead .lead5 .brand1 img {
    width: 57px;
    display: flex;
    
}

/* .Lead .lead2 .lead3{
    padding-left: 20px;
} */
.Lead .lead2 .lead3 h3{
    font-family: "Work Sans", sans-serif;
    padding-block: 20px;
    font-size: 25px;
}
.Lead .lead2 .lead3 .more {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    margin-inline-start: 28%;
    margin-inline-end: 28%;
    margin-block: 20px;
}

.Lead .lead2 .lead3 .more p{
    font-weight: 300;
    color: #000000;
    font-size: 18px;
    font-family: "Work Sans", sans-serif;
    
}
.Lead .lead5 h6{
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    line-height: 27px;
    font-size: 16px;
    color: #ffffff;
    padding-bottom: 10px;
    
}
.Lead .lead5 p{
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    line-height: 24px;
    font-size: 18px;
    color: #ffffff;
    
    text-align: center;
}
.Lead .lead5 .lead4 h3{
    font-family: "Work Sans", sans-serif;
    padding-block: 20px;
    font-size: 25px;
    
    font-weight: 500;
    color: #ffffff;
}
.Lead .lead5 .lead4 .more{
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    border-bottom: 2px solid white;
    margin-inline-start: 28%;
    margin-inline-end: 27%;
    margin-block: 20px;
}
.Lead .lead2 .lead4{
    padding-left: 20px;
}
.Lead .lead5 .brand1 {
    background-color: #ffffff;
    border-radius: 50%;
    padding: 12px;
    margin-top: 17px;
}
.Lead .lead2 .brand1 {
    background-color: #FFF1E7;
    border-radius: 50%;
    padding: 12px;
}
.team{
    background-color: #ffffff;
    color: #15295F;
    padding-inline: 8%;
    padding-bottom: 6%;
    font-family: "Poppins", sans-serif;
}
.team .team4{
    display: flex;
    justify-content: space-between;

}
.team .team4 .team1{
    
    text-align: center;
}

.team .team1 h1 {
    text-align: center;
    margin-block: 10px;
    font-size: 18px;
}

.team .team1  p{
    text-align: center;
    color: #F1EEFF;
}

.team .team4 .name1{
    border: 2px solid #EFEFEF;
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 16px;
    border-radius: 4px;
    width: 100%;
}
.team .team4 .name2{
    border: 2px solid #EFEFEF;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 10px;
    border-radius: 4px;
}
.team .team4 img{
    width: 100%;
}
.team .team4 .name3{
    width: 50%;
}
.team .team4 .name3 p{
    font-weight: 300;
    font-size: 14px;
}
.team .team4 .sd{
    padding: 15px 0px;
    width: 25%;
    border-radius: 100px;
    font-weight: 500;
    font-size: 13px;
    color: #ffffff;
    background-color: #FD6E0A;
    border: 1px solid #FD6E0A;
    margin-top: 20px;
}
.team .team4 .sd:hover{
    width: 25%;
    top: 0;
    left: 0;
    background-color: #15295F;
    border: 1px solid #15295F;
}
.team .team4 label{
    font-size: 13px;
    font-weight: 300;
}
.team .meet{
   padding-block: 30px;
}
.team .meet h1{
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}
.team .meet p{
    color: #FD6E0A;
    line-height: 30px;
    text-align: center;
    font-weight: 700;
}
.say{
    background-color: #F1EEFF;
    padding-inline: 7%;
    font-family: "Poppins", sans-serif;
   
}
.say .say1 h1{
    text-align: center;
    padding-bottom: 8%;
    line-height: 50px;
    font-size: 40px;
    color: #15295F;
}
.say .say1 h4{
   text-align: center;
   padding-block: 30px;
   color: #FD6E0A;
   font-size: 18px;
   font-weight: 600;
}
.say .say3{
    display: flex;
}
.say .Stars1{
    border-top: 1px solid #FD6E0A;
    border-left: 1px solid #FD6E0A;
    border-right: 1px solid #FD6E0A;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-inline: 3%;
    
    padding-block-end: 3%;
    padding-inline: 5%;
}
.say .Stars1 .color{
    background-color: #ffffff;
    margin-block-start: -22px;
    position: absolute;
    margin-inline-start: 18%;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 2px 9px 9px 3px #EDEFF2;
}
.say .Stars2{
    border-top: 1px solid #FD6E0A;
    border-left: 1px solid #FD6E0A;
    border-right: 1px solid #FD6E0A;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-inline: 3%;
    
    padding-block-end: 3%;
    padding-inline: 4%;
}
.say .Stars2 .color{
    background-color: #ffffff;
    margin-block-start: -22px;
    position: absolute;
    margin-inline-start: 18%;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 2px 9px 9px 3px #EDEFF2;
}
.say .Stars3{
    border-top: 5px solid #F06C7A;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin-inline: 3%;
    
    padding-block-end: 10%;
    padding-inline: 5%;
}
.say .Stars3 .color{
    background-color: #ffffff;
    margin-block-start: -22px;
    position: absolute;
    margin-inline-start: 18%;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 2px 9px 9px 3px #EDEFF2;
}
.say .jen{
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-inline: 3%;
    margin-bottom: 10%;
    
    padding-inline: 7%;
    padding-block: 20px;
    border-bottom: 1px solid #FD6E0A;
    border-left: 1px solid #FD6E0A;
    border-right: 1px solid #FD6E0A;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
   
}
.say .jen .jen1{
    padding-left: 25px;
    line-height: 24px;
}
.say .jen .jen1 h4{
    font-size: 19px;
}
.say .jen .jen1 p{
    color: #6A727D;
    font-size: 15px;
}

.say .jen img{
    width: 100%;
    height: 12vh;
    border-radius: 50% ;
    margin-top: 10px;
}
.say .Stars1 .start1{
    color: #FFC107;
    padding-block: 20px;
    text-align: center;
}
.say .Stars1 p{
    line-height: 30px;
    text-align: center;
    color: #6A727D;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-style: italic;
}
.say .Stars2 .start1{
    color: #FFC107;
    padding-block: 20px;
    text-align: center;
}
.say .Stars2 p{
    line-height: 30px;
    text-align: center;
    color: #6A727D;
    font-size: 18px;
    font-style: italic;
}
.say .Stars3 .start1{
    color: #F4BB4F;
    padding-block: 20px;
    text-align: center;
}
.say .Stars3 p{
    line-height: 26px;
    text-align: center;
    color: #6A727D;
    font-size: 14px;
}

.quick{
    display: flex;
    
    align-items: flex-start;
    padding-inline: 8%;
    background-color: #FD6E0A;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}
.quick .quick1 {
    width: 25%;
}
.quick .nav11{
    display: flex;
}

.qu ick .quick2{
    display: flex;
    
   
}
.quick1  p{
    color: #EDEFF2;
    font-size: 14px;
    line-height: 30px;
   
}

.quick .nav1 .sub-btn .fa-solid{
    color: #ffffff;
}
.quick .nav1 .i44 .fa-solid{
    color: #FD6E0A;
}
.quick .nav1 {
    margin-top: 10px;
    margin-right: 12px;
}
.i33 .sub-btn{
    display: none;
}
.i44 span {
    padding-right: 10px;
}
.i44 .btn {
    display: flex;
    justify-content: end;
}
.nav1 .i44 {
    display: block;
}
.i44 .btn .Em{
   
    padding: 8px 0px;
    width: 17vw;
    text-align: left;
    padding-inline-start: 10px;
    border-radius: 40px;
    font-size: 14px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: inset 6px 6px 10px 0 rgba(20, 40, 95, 0.3),
    inset -6px -6px 10px 0 rgba(20, 40, 95, 0.3);
    border: 1px solid rgba(20, 40, 95, 0.3);
    margin-block: 20px;
    
}

.btn .Sb {
	position: relative;
    top: 20px;
    left: -107px;
    width: 105px;
    font-size: 14px;
    height: 35px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn .Sb a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	/* box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3); */
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	/* letter-spacing: 1px; */
	text-decoration: none;
	overflow: hidden;
	color: #fff;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}

.btn .Sb:hover a {
	letter-spacing: 0px;
    background: #15295F;
}
.btn .Sb a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}
.btn .Sb:hover a::before {
	transform: skewX(45deg) translate(200px);
}
.btn .Sb::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: 0px;
	width: 30px;
	height: 10px;
	background: #15295F;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.btn .Sb:hover::before /*lightup button*/ {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;


}
.btn .Sb::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: 0px;
	width: 30px;
	height: 10px;
	background: #15295F;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.btn .Sb:hover::after /*lightup button*/ {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}


/* .i44 .btn .Sb:hover{
    background-color: rgb(21,41,95); 
    
    color: #ffffff;
   
} */
 /* .btn input::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
    transform: skewX(45deg) translate(0);
    transition: 0.5s;
    filter: blur(0px);
}
.i44 .btn .Sb{
    padding: 8px 24px;
    border-radius: 40px;
    position: absolute;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.01);
    transition: background-color 0.3s, box-shadow 0.3s;
    
    border: 1px solid rgba(255, 255, 255, 0.01);
    margin-top: 20px;
    margin-right: 2px;
} */
 /* .Sb:hover::after{
    background-color: #ff1f71;
	box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71,
		0 0 60px #ff1f71;
} */

.quick .circle1 {
    display: flex;
    padding-block: 20px;
}
.quick .circle1 .circle2{
    margin-right: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #FD6E0A;
    font-size: 20px;
}
.quick .circle1 .circle2 .fa-facebook-f{
    padding-inline: 3px;
}
.nav1 .i44 {
    line-height: 35px;
    color: #6A727D;
    font-size: 16px;
    padding-top: 10px;
}




@media (min-width:280px) and (max-width:900px){

    header {
        padding-inline-start: 6%;
        padding-inline-end: 7%;
        position: relative;
        color: #15295F;
}
    
    header .navlist{
        position: fixed;
        margin-left: -110%;
        width: 87%;
        background-color: #15295F;
        color: #ffffff;
        text-align: center;

    }
    header .navlist ul{
        flex-direction: column;
        margin-bottom: 12px;
        color: #ffffff;
        position: relative;
    }
    header .nav-toggle{
        top: 13%;
        margin-left: 0%;
        
       }
       header .navlist ul li {
        padding-right: 0;
       }
       header .navlist ul .us{
         position: relative;
         font-size: 13px;
         margin-top: 1px;
         padding: 8px 0px;
         width: 145px;
       }
     header .navlist ul li span {
        position: relative;
        margin-top: 0px;
        padding: 8px 18px;
    }
    header .navlist ul li{
        padding-block: 10px;
    }
    header .fa-bars{
        display: block;
    }
    .Fox {
        margin-inline: 6%;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 27px;
        margin-bottom: 15%;
        padding-block: 15px;
}
    
    .Fox .Fox1{
        background-color: #FD6E0A;
        border-radius: 50%;
        padding: 10px;
    } 
    .Fox .Fox2{
        background-color: #FD6E0A;
        border-radius: 50%;
        padding: 8px;
    } 
    .Fox .jen {
        margin-block: 20px;
        padding-inline-start: 35px;
        
    }
    .Fox .jen1 {
        padding-inline-start: 20px;
    }
    .Fox .jen1 h4{
        color: #15295F;
        font-size: 18px;
    }
    .Fox .jen1 p{
        color: #FD6D09;
        font-size: 15px;
    }
    .Fox .jen2 {
        display: flex;
       
    }
    .Fox .jen2 {
        display: flex;
        border-top: 1px solid #FAFAFA;
        border-bottom: 1px solid #FAFAFA;
        padding-inline-start: 35px;
        padding-block: 14px;
    }
    .Fox .jen {
       
        margin-block: 10px;
        align-items: center;
    }
    .digital{
        margin-inline-start: 6%;
        margin-inline-end: 6%;
        padding-top: 0;
    }
    .digital img{
        display: none;
    }
    .digital h3 {
        margin-top: 5%;
        font-weight: 700;
        color: #FD6E0A;
        
        
    }
    .digital .digital1 h1{
        color: #15295F;
        font-size: 40px;
        line-height: 35px;
        margin-bottom: 30px;
    }
    .digital h4{
        color: #384573;
        font-size: 16px;
       
    }
    .digital .digital1 p{
        margin-block: 20px;
        color: #908D9C;
        line-height: 25px;
        font-size: 14px;
        width: 100%;
    }
    .digital .btn .us {
        padding: 8px 0px;
        width: 50%;
        border-radius: 20px;
        font-weight: 300;
    }
    .digital .btn .vi {
        padding: 8px 0px;
        width: 37%;
        border-radius: 20px;
    }
    .market{
        padding: 30px 7%;
       
    }
    .market .dgl {
        width: 80vw;
    }
    .market .ads .item1 .design1{
        width: auto;
    }
    .market .ads .item1 .design2{
        width: auto;
    }
    .market .ads .item1 .design3{
        width: auto;
    }
    .market .ads .item1{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-inline-start: 15px;
    }
    .market .ads .item1 h3{
        padding-block: 12px;
        font-size: 20px;
    }
    .market .ads .item1 p{
        color: #6A727D;
        font-size: 15px;
        margin-bottom: 16px;
        line-height: 25px;
    }
    .market .ads .item1 .learn1 {
        width: 60%;
        padding: 10px 0px;
        border-radius: 20px;
    }
    .market .ads .item1 .learn2 {
        width: 60%;
        padding: 10px 0px;
        border-radius: 20px;
    }
    .market .ads .item1 .learn3 {
        width: 60%;
        padding: 10px 0px;
        border-radius: 20px;
    }
    .market .ads .item1 .learn4 {
        width: 60%;
        padding: 10px 0px;
        border-radius: 20px;
    }
    .market .ads .item1 .learn5 {
        width: 60%;
        padding: 10px 0px;
        border-radius: 20px;
    }
    
    .market .ads{
        grid-gap: 32px;
        grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    }
    .market .ads .item1 .design1 img{
        width: 50px;
    }
    .market .ads .item1 .design2 img{
        width: 50px;
    }
    .market .ads .item1 .design3 img{
        width: 50px;
    }
    .client{
        padding-inline-start: 7%;
        padding-inline-end: 7%;
        margin-bottom: 1%;
        margin-top: -2%;
    }
    .client .some{
        width: 100%;
    }
    .client .icon{
        grid-gap: 70px;
        margin-top: 20%;
        grid-template-columns: repeat(auto-fit,minmax(170px,1fr));
        
    }
    .client {
        min-height: 98vh;
        flex-direction: column;
        margin-bottom: 6%;
    }
    .client .icon .icon1 {
        flex-direction: column;
        width: 100%;
        padding: 30px 0px;
    }
    .client .icon .icon2 img{
        
        border-radius: 70%;
        display: flex;
    
    }
    .client .icon .icon2{
        width: auto;
    }
    .Lead .tech h1 {
        width: 100%;
    }
    
    .Lead .lead1 .lead11 {
        flex-direction: column;
    }
    .Lead .lead2 .lead3 .more {
        margin-inline: 27%;
    }
    .Lead .tech {
        flex-direction: column;
        color: #15295F;
        padding-block: 25px;
        font-size: 24px;
    }
    .Lead .tech h5{
        font-family: "Work Sans", sans-serif;
        font-weight: 400;
        padding-block: 20px;
        font-size: 18px;
        line-height: 29px;
        width: 100%;
    }
    
    .Lead .lead1 h1{
        margin-bottom: 25px;
        margin-inline-start: 0px;
    }
    .Lead .lead2{
        border: 1px solid #fff;
        background-color: #fff;
        border-radius: 18px;
        flex-direction: column;
        margin-inline-start: 0px;
        box-shadow: 2px 0px 6px 4px #EDEFF2;
        padding-inline: 12px;
        padding-block: 8px;
        margin-bottom: 25px;
    }
    /* .Lead .lead1 {
        
        padding-bottom: 20%;
    } */
    .Lead .lead5{
        flex-direction: column;
        padding-inline: 12px;
        margin-bottom: 20px;
        padding-block: 0px;
        margin-inline-end: 0%;
    }
    .Lead {
        padding-inline: 7%;
        padding-bottom: 15%;
    }
    .Lead .lead2 .brand1 {
        background-color: #FFF1E7;
        border-radius: 50%;
        padding: 12px;
    }
    .Lead .lead5 .brand1{
        background-color: #ffffff;
        border-radius: 50%;
        padding: 12px;
    }
    .Lead .lead5 .lead4 h3{
        text-align: center;
    }
    .Lead .lead5 h6{
        text-align: center;
    }
    .Lead .lead5 .brand1 img{
        width: auto;
        display: flex;
       
    }
    .Lead .lead2 .lead3{
        text-align: center;
    }
    .Lead .lead2 .lead4{
        text-align: center;
    }
    .team{
        padding-inline: 7%;
    }
    .team .team4 .name3 {
        width: auto;
    }
    .team .team4{
        flex-direction: column;
    
    }
    .team .team1 img{
        display: none;
    }
    .team .team2 img{
        width: 93%;
        border-radius: 50%;
    }
    .team .team3 img{
        width: 90%;
        border-radius: 50%;
    }
    .team .team1{
        text-align: center;
       
        line-height: 35px;
    }
    .team .team4 .sd {
        
        width: 45%;
    }
    
    .say{
        padding-inline: 5%;
    }
    .say .jen img {
        width: 100%;
        height: 7vh;
    }
    .say .say3{
        flex-direction: column;
    }
    .say .Stars1 .color{
        margin-inline-start: 60%;
    }
    
    .say .Stars2 .color{
        margin-inline-start: 60%;
    }
    .say .Stars3 .color{
        margin-inline-start: 60%;
    }
    .say .jen{
        justify-content: center;
    }
    .quick .quick1{
        padding-block: 12%;
    }
    .quick {
        flex-direction: column-reverse;
       padding-inline: 6%;
       padding-top: 2%;
       
    }
    .quick .circle1{
        display: flex;
        padding-top: 15px;
    }
    .quick .quick1 {
        width: 100%;
       
    }
    
    .quick .quick1 p{
        line-height: 45px;
        font-size: 17px;
        
    }
    .quick .nav11{
        width: 100%;
        padding-bottom: 5%;
        flex-direction: column;
    }
    .i33 .sub-btn{
        display: block;
    }
    .i44 {
        background-color: #ffffff;
        border-radius: 4px ;
        width: 100%;
        padding: 20px;
        line-height: 40px;
        display: none;
        position: absolute;
        z-index: 0;
        opacity: 0;
        visibility: hidden;
    }
    .i44 .btn .Em {
        width: 100vw;
    }
    .nav1:hover .i44{
        display: block;
        opacity: 1;
        visibility: visible;
        position: relative;
        transition: 0s;
        z-index: 1000;
        margin-top: 10px;
    }
    .nav1 .i33{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        font-size: 17px;
    }
    .nav1 {
        padding-block: 3%;
        width: auto;
        position: relative;
        padding-right: 0;
    }
    .i44 .btn .Em{
       
        color: #15295F;
    }
    .btn .Sb a{
        width: auto;
    }
    .btn .Sb {
        position: relative;
        top: 20px;
        left: -83px;
        width: 60px;
    }
    .btn .Sb::before{
        left: 100%;
        width: 46px;
    }
    .btn .Sb::after{
        left: 100%;
        width: 46px;
    }
}
@media (min-width:748px) and (max-width:900px){
    .Lead .lead2 .lead4{
        padding-inline: 40px;
    }
    .digital .digital1 p {
        width: 50%;
    }
    .digital .btn .us {
        width: 20.5%;
    }
    .digital .btn .vi{
        width: 15.5%;
    } 
    header .navlist ul {
        margin-left: -13%;
    }
    .Fox {
        justify-content: space-around;
        flex-direction: row;
    }
    .Fox .jen {
       
        padding-inline-start: 0px;
        
    }
    .market .dgl {
        width: 40vw;
    }
    .quick .quick1 {
        padding-bottom: 4%;
        
    }
    .client {
        min-height: 50vh;
    }
    .client .icon {
        
        grid-template-columns: repeat(auto-fit,minmax(234px,1fr));
    }
    .client .learn3 {
       
        width: 30%;
    }
    .team .team1 img {
        width: 50%;
        
    }
    .team .team4 .sd {
        
        margin-top: 20px;
        width: 22%;
    }
    .Lead .lead5 .lead4 .more {
        margin-inline: 38%;
    }
    .Lead .lead2 .lead3 .more {
        margin-inline: 38%;
    }
    .team .team2 img {
        width: 50%;
       
    }
    .team .team3 img {
        width: 50%;
        
    }
    .team .team1 h1 {
        font-size: 24px;
    }
    .team .team2 h1 {
        font-size: 24px;
    }
    .team .team3 h1 {
        font-size: 24px;
    }
    .btn .Sb::before {
        left: 100%;
        width: 20px;
    }
    .btn .Sb::after {
        left: 100%;
        width: 20px;
    }
    .i44 .btn .Sb {
        margin-right: 52%;
    }
}

@media (min-width:900px)  and (max-width:1020px){
    header .navlist ul {
        display: flex;
        margin-left: -17%;
    }
    header .navlist ul li {
        font-size: 16px;
        padding-right: 18px;
    }
    
    .market .ads .item1 .design1{
        width: auto;
    }
    .market .ads .item1 .design2{
        width: auto;
    }
    .market .ads .item1 .design3{
        width:auto;
    }
    .client .icon .icon2 {
       
        margin-top: -100px;
    }
    .client .icon {
        
        grid-template-columns: repeat(auto-fit,minmax(261px,1fr));
       
    }
    .client .icon .icon1 {
        width: 85%;
        height: 85%;
        padding: 25px 0px;
        flex-direction: column;
        margin-inline-end: 400px;
    }
    .say .Stars3 p {
        line-height: 30px;
    }
}
@media (min-width:1000px){
    header .navlist ul {
       
        margin-left: 85px;
    }
    .client .some{
        margin-inline-end: 10%;
        width: 40%;
    }
    .client .icon .icon2 {
       
        margin-top: -45px;
    }
    .market .ads {
      
        grid-template-columns: repeat(auto-fit,minmax(190px,1fr));
       
    }
    .market .ads .item1 {
       
        padding: 8px;
        margin-inline-start: 15px;
       
        width: auto;
    }
    .market .ads .item1 .design1 {
        width: auto;
    }
    .market .ads .item1 .design2 {
        width: auto;
    }
    .market .ads .item1 .design3 {
        width: auto;
    }
    
    .say .Stars3 p {
        line-height: 30px;
    }
    .say .jen img{
        height: 8vh;
    }
    .quick{
        padding-top: 4%;
        padding-bottom: 10%;
    }
    .quick .nav1 {
        margin-top: 10px;
        
        margin-left: 40%;
    }
    .quick .nav11 {
        display: flex;
        margin-left: -50px;
    }
    .nav1 .i44 {
        position: absolute;
        color: #ffffff;
    }
    .nav1 .i33 .office{
        position: absolute;
    }
    .quick .nav1 .i44 .fa-location-dot{
        margin-top: 35px;
    }
    .i44 .btn .Em {
        padding: 8px 0px;
        width: 21vw;
        text-align: left;
        padding-inline-start: 10px;
        border-radius: 40px;
        font-size: 14px;
        /* box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.01),
                    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.01); */
        
       
       
        margin-block: 20px;
    }
    .quick .nav1 .i44 .fa-solid {
        color: #FD6E0A;
        background-color: #ffffff;
        width: auto;
        border-radius: 50%;
        padding: 6px;
        font-size: 10px;
    }
    
   
    .client .icon {
        
        grid-template-columns: repeat(auto-fit,minmax(203px,1fr));
       
    }
    .client .icon .icon1 {
        width: 100%;
        height: 73%;
        padding: 25px 0px;
        flex-direction: column;
        margin-inline-end: 525px;
    }
}
@media (min-width:900px)and (max-width:999px){
    .market .ads {
        
        grid-template-columns: repeat(auto-fit,minmax(165px,1fr));
        
    }
    header .navlist ul {
       
        margin-left: 122px;
    }
    .market .ads .item1 {
       
        padding: 8px;
        margin-inline-start: 11px;
       
        width: 94%;
    }
    .market .ads .item1 .design1 {
        width: auto;
    }
    .market .ads .item1 .design2 {
        width: auto;
    }
    .market .ads .item1 .design3 {
        width: auto;
    }
    .client .icon {
        grid-template-columns: repeat(auto-fit,minmax(231px,1fr));
        margin-inline-start: 20px;
    }
    .client .icon .icon1{
        width: 97%;
    }
    .client .icon .icon2 {
        margin-top: -140px;
    }
    .say .jen img{
        height: 8vh;
    }
    .quick {
        padding-top: 4%;
        padding-bottom: 10%;
    }
    .quick .nav1 {
        margin-top: 10px;
        margin-left: 30%;
    }
    
    .nav1 .i44 {
        position: absolute;
        color: #ffffff;
    }
    .i44 .btn .Em{
        padding: 8px 0px;
        width: 21vw;
        text-align: left;
        padding-inline-start: 10px;
        border-radius: 10px;
        font-size: 14px;
        color: #15295F;
       
        
        margin-block: 20px;
    }
    .quick .nav1 .i44 .fa-solid {
        color: #FD6E0A;
        background-color: #ffffff;
        width: 10%;
        border-radius: 50%;
        padding: 6px;
        font-size:10px;
    }
}
@media (min-width:900px)and (max-width:944px){
    .quick .nav11 {
        
        margin-left: -6%;
    }
    .quick .nav1 {
       
        margin-left: 21%;
    }
}
@media (min-width:949px)and (max-width:1020px){
    header .navlist ul {
        margin-left: 156px;
    }
    .quick .nav1 .i44 .fa-solid {
        color: #FD6E0A;
        background-color: #ffffff;
        width: 10%;
        border-radius: 50%;
        padding: 6px;
        font-size: 10px;
    }
    .quick .nav1 {
       
        margin-left: 23%;
    }
    .quick .nav11 {
        
        margin-left: -50px;
    }
    .nav1 .i44 {
        position: absolute;
        color: #ffffff;
    }
    .Lead .lead2 .lead3 .more {
        margin-inline: 18%;
    }
    .Lead .lead5 .lead4 .more {
        margin-inline: 18%;
    }
    .quick .nav1 {
        margin-left: 23%;
    }
}
@media (min-width:1440px){

    header .navlist ul{
        margin-left: 440px;
        
    }
    
    header .navlist ul li {
        font-size: 16px;
        padding-right: 42px;
    }
    /* .market .ads .item1 .design1 {
        width: 27%;
    }
    .market .ads .item1 .design2 {
        width: 27%;
    }
    .market .ads .item1 .design3 {
        width: 27%;
    } */
    .say .Stars3 p{
        line-height: 30px;
        text-align: center;
    }
    .say .Stars2 p {
        line-height: 30px;
        text-align: center;
    }
    .client .icon .goo {
        margin-top: 1px;
        font-weight: 900;
       
       
    }
    .client .icon .icon1 {
        width: 100%;
        height: 85%;
        padding: 25px 0px;
        flex-direction: column;
        margin-inline-end: 525px;
    }
    
    .client .icon .goo {
        
        padding: 27px 0px;
        width: 60%;
    }
    .client .some{
        margin-inline-end: 10%;

    }
    
    
    .client .icon .icon2 img{
        width: 100%;
       
    }
    .client .icon .icon2 p{
        padding-inline-end: 5px;
    }
    .client .icon .icon3 img{
        width: 20%;
    }
    .client .icon .icon3 {
        width: 60%;
    }
    .client .icon .icon3 p{
        padding-inline-end: 5px;
    }
    .quick .nav1 {
       
        margin-left: 69%;
    }
    .i44 .btn .Em {
        
        width: 18vw;
    }
    .quick .nav1 .i44 .fa-solid {
        padding: 7px;
    }
}
@media (min-width:1100px) and (max-width:1194px){
    header .navlist ul {
       
        margin-left: 214px;
    }
    .market .ads .item1 .design1 {
        width: auto;
    }
    .market .ads .item1 .design2 {
        width: auto;
    }
    .market .ads .item1 .design3 {
        width: auto;
    }
}


@media (min-width:1200px) and (max-width:1299px){
    header .navlist ul {
        margin-left: 317px;
    }
    
    .market .ads .item1 .design1 {
        width: 37%;
    }
    .market .ads .item1 .design2 {
        width: 37%;
    }
    .market .ads .item1 .design3 {
        width: 37%;
    }
    .client{
        margin-top: -26%;
    }
    .client .icon {
        
        grid-template-columns: repeat(auto-fit,minmax(261px,1fr));
       
    }
    .client .icon .icon1 {
        width: 100%;
        height: 85%;
        padding: 25px 0px;
        flex-direction: column;
        margin-inline-end: 525px;
    }
    .quick .nav1 {
        
        margin-left: 54%;
    }
}

@media (min-width:1300px) and (max-width:1379px){
    header .navlist ul {
        margin-left: 343px;
    }
    .quick .nav1 {
        margin-top: 10px;
        margin-left: 56%;
    }
}







@media (min-width:1380px)  and (max-width:1439px){
    header .navlist ul {
        
        margin-left: 400px;
    }
    
    .Lead .lead2 p {
        font-size: 12px;
        padding-inline-end: 5px;
    }
    .market .ads .item1 {
        padding: 16px;

    }
    .market .ads .item1 .design1 {
        width: 34%;
    }
    .market .ads .item1 .design2 {
        width: 34%;
    }
    .market .ads .item1 .design3 {
        width: 34%;
    }
    header .navlist ul li {
        font-size: 16px;
        padding-right: 42px;
    }
    .client .icon {
        
        grid-template-columns: repeat(auto-fit,minmax(261px,1fr));
       
    }
    .client .icon .icon1 {
        width: 100%;
        height: 85%;
        padding: 25px 0px;
        flex-direction: column;
        margin-inline-end: 475px;
    }
    .say .Stars3 p {
        line-height: 30px;
    }
    .Lead .lead1 h1 {
        font-size: 30px;
    }
    .Lead .lead1 {
        width: 100%;
        
    }
    .Lead {
        padding-inline-start: 8%;
        padding-inline-end: 8%;
    }
    .quick .nav1 {
        margin-top: 10px;
        margin-left: 60%;
    }
}